html,
body {
  font-family: "Amazon Ember";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background-color: #f6f2f2;
}

/* Scroll Bar */

::-webkit-scrollbar-track {
  background-color: #252d4d;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #252d4d;
}

::-webkit-scrollbar-thumb {
  background-color: #252d4d;
  border: 0px;
  background-clip: padding-box;
  border-radius: 5px;
}

nav {
  background-color: #252d4d;
  /* padding: 1rem 1rem; */
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#search_btn {
  background-color: #f6f2f2;
  opacity: 0.9;
  color: #252d4d;
}

.input-group {
  width: 90%;
  margin-right: 35%;
}

#search_field {
  height: 2.4rem;
  padding: 1rem;
  background-color: #f6f2f2;
  color: #252d4d;
}

#login_btn,
#view_btn {
  background-color: #f6f2f2;
  color: #252d4d;
  padding: 0.4rem 1.8rem;
  font-family: calibri;
}

#cart {
  font-size: 1rem;
  color: #14927d;
}

#cart_count {
  background-color: #252d4d;
  padding: 0.2rem 0.5rem;
  border-radius: 0.2rem;
  color: #f6f2f2;
  font-weight: bold;
  font-size: 0.9rem;
}

/* Cart and its number badge */
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

#lblCartCount {
  font-size: 12px;
  background: #f6f2f2;

  color: #252d4d;
  padding: 0 5px;
  vertical-align: top;
  margin-left: -10px;
}
/* Home page */
#products_heading {
  margin-top: 1.8rem;
}

.card {
  height: 100%;
}

.card-title a {
  color: #252d4d;
}

.card-title a:hover {
  color: #252d4d;
  text-decoration: none;
}

.card-body {
  padding-left: 0;
}

.card-text {
  font-size: 1.4rem;
}

#view_btn {
  background-color: #252d4d;
  color: #f6f2f2;
}

.card-img-top {
  width: 170px;
  height: 150px;
}

.ratings {
  font-size: 1.2rem;
  color: #14927d;
}

#no_of_reviews {
  font-size: 0.85rem;
  color: #737373;
  margin-left: 0.5rem;
}

/* Footer */
footer {
  margin-top: 8rem;
  color: #252d4d;
  bottom: 0;
  width: 100%;
}

/* Ratings */

.rating-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
  color: #dad2b2;
}

.rating-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
/*content: "\f06c \f006 \f006 \f006 \f006";  star rating */
.rating-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.rating-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #dad2b2;
}
/*content: "\f005 \f005 \f005 \f005 \f005";*/

/* Product Details Page */
#product_id {
  color: #a6a6a6;
  font-size: 0.8rem;
}

#product_price {
  font-size: 2rem;
  font-weight: bold;
}

#cart_btn,
#review_btn {
  border-radius: 2rem;
  background-color: #a558a6;
  border: none;
  opacity: 0.6;
  padding: 0.5rem 2rem;
}

#cart_btn:hover,
#review_btn:hover {
  border-radius: 2rem;
  background-color: #14927d;
  border: none;
  padding: 0.5rem 2rem;
}

#product_seller {
  color: #737373;
  font-size: 0.9rem;
}

#stock_status {
  font-size: 1.1rem;
  font-weight: bold;
  margin-left: 0.3rem;
}

.redColor {
  color: rgb(164, 35, 35);
}

.greenColor {
  color: rgb(14, 103, 14);
}

#product_image {
  margin-top: 9rem;
}

/* Loader */
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  width: 80px;
  height: 80px;
  padding-left: 0;
}
.loader:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #252d4d;
  border-color: #252d4d transparent;
  animation: lds-dual-ring 1.7s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Cart */

.cart-item {
  margin: 1.8rem 0rem;
  padding: 0rem 0.7rem;
}

.cart-item a {
  color: grey;
}

#delete_cart_item {
  color: red;
  background: #f6f2f2;
  padding: 0.3rem 0.5rem;
  font-size: 1.1rem;
  border: none;
}

#card_item_price {
  color: #252d4d;
  font-weight: bold;
  font-size: 1.4rem;
}

#checkout_btn,
.review-btn {
  background-color: #252d4d;
  border-color: #252d4d;
  margin-top: 2rem;
  border-radius: 5rem;
}

#view_order_details {
  background-color: #252d4d;
  border-color: #252d4d;
}

#order_summary {
  border: 1px solid #f6f2f2;
  border-radius: 1rem;
  padding: 2rem 1.5rem;
}

.order-summary-values {
  float: right;
  font-weight: bold;
}

.stockCounter input {
  border: none;
  width: 3rem;
  text-align: center;
}

.plus,
.minus {
  padding: 0.1rem 0.5rem;
}

.stockCounter input::-webkit-outer-spin-button,
.stockCounter input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #f6f2f2;
}

/* Login & Register */

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  font-weight: 700;
  padding: 10px;
}

.wrapper form {
  padding: 3rem 3rem 5rem 3rem;
}

.wrapper form .btn {
  background-color: #252d4d;
  border-color: #252d4d;
  color: #f6f2f2;
  margin-top: 2.5rem;
}

.wrapper form a {
  font-size: 0.9rem;
  color: grey;
}

/* Avatar */
.avatar {
  display: inline-block;
  margin-bottom: 0;
  height: 3rem;
  width: 3rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rounded-circle {
  border-radius: 50% !important;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: none;
}

/* Header User Profile */

.avatar-nav {
  margin-right: 0.6rem;
  height: 2.2rem;
  width: 2.2rem;
}

/* Checkout Steps */

.checkout-progress div {
  box-sizing: border-box;
}

.checkout-progress {
  display: block;
  clear: both;
  margin: 20px auto;
  width: auto;
  font-family: sans-serif;
  overflow: auto;
}

.step {
  margin: 0;
  border: 0;
  letter-spacing: 1px;
  line-height: 30px;
  padding: 5px 10px 5px 15px;
  color: grey;
  text-decoration: none;
  cursor: default;
  font-weight: bold;
  float: left;
  height: auto;
}

.incomplete {
  background: #f6f2f2;
}

.active-step {
  background: #252d4d;
  color: #f6f2f2;
}

.triangle-active {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #252d4d;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-active {
  width: 0;
  float: left;
  border-top: 20px solid #252d4d;
  border-left: 15px solid #f6f2f2;
  border-bottom: 20px solid #252d4d;
  margin-right: -1px;
}

.triangle-incomplete {
  float: left;
  width: 0;
  border-top: 20px solid transparent;
  border-left: 15px solid #f6f2f2;
  border-bottom: 20px solid transparent;
  margin-left: -1px;
}

.triangle2-incomplete {
  width: 0;
  float: left;
  border-top: 20px solid #f6f2f2;
  border-left: 15px solid #f6f2f2;
  border-bottom: 20px solid #f6f2f2;
  margin-right: -1px;
}

/* User Profile */

.avatar-profile {
  height: 16rem;
  width: 16rem;
}

.user-info h4 {
  font-weight: 800;
  color: grey;
  margin-top: 2rem;
}

.user-info p {
  font-size: 1.1rem;
}

#edit_profile {
  background-color: #252d4d;
  border-color: #252d4d;
}
#edit_profile:hover {
  background-color: #131728;
  border-color: #252d4d;
}

/* Confirm Order */

.order-confirm p,
.order-details p {
  margin-left: 1.5rem;
}

.update-btn {
  background-color: #252d4d;
  border-color: #252d4d;
  color: #f6f2f2;
}
.myorders {
  background-color: #14927d;
  color: #f6f2f2;
}
.myorders:hover {
  background-color: #0d6355;
  color: #f6f2f2;
}

.changepw {
  background-color: #a558a6;
  color: #f6f2f2;
}
.changepw:hover {
  background-color: #703c71;
  color: #f6f2f2;
}
.update-btn:hover {
  color: #f6f2f2;
}

/* Pagination */

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.page-item.active .page-link {
  background-color: #252d4d;
  border-color: #252d4d;
}

.page-link {
  color: #252d4d;
}

.page-link:hover {
  color: #252d4d;
}

/* Admin Sidebar */

.sidebar-wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  min-height: 100vh;
  font-weight: normal;

  margin-top: 0;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
#sidebar {
  min-width: 100%;
  max-width: 100%;
  background: #232f3e;
  color: #f6f2f2;
  transition: all 0.3s;
}
#sidebar.active {
  margin-left: -250px;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #232f3e;
}
#sidebar ul.components {
  padding: 5px 0px;
  border-bottom: 1px solid #232f3e;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #f6f2f2;
  text-decoration: none;
}
#sidebar ul li a:hover {
  color: #232f3e;
  background: #f6f2f2;
}

#sidebar ul li a i {
  margin-right: 0.3rem;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #f6f2f2;
  background: #232f3e;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 1rem !important;
  padding-left: 30px !important;
  background: #232f3e;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Products List Admin */
#products_table .btn {
  padding: 0.2rem 0.5rem;
  margin-left: 0.4rem;
}

/* Dashboard */

.card-font-size {
  font-size: 1.5rem;
}

/* Reviews */

.rating {
  margin-top: 10rem;
}

.stars {
  height: 100px;
  display: flex;
  align-items: center;
  padding-left: 0;
}

.star {
  display: inline;
  list-style: none;
  font-size: 3rem;
  padding-left: 0.9rem;
  color: #a558a6;
}

.star:first-child {
  padding-left: 0;
}

.orange {
  color: #fa9c23;
}

.yellow {
  color: #fdcc0d;
}

.review_user {
  font-size: 0.8rem;
  color: grey;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
